<div class="carousel">
  <div class="carousel-images" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <img *ngFor="let image of images" [src]="image" [alt]="'Carousel image ' + (images.indexOf(image) + 1)" [class.active]="image === images[currentIndex]">
  </div>
  <button mat-icon-button class="prev" (click)="prevSlide()" aria-label="Previous slide">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="next" (click)="nextSlide()" aria-label="Next slide">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
